body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
  padding: 0px;
}

#status {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;  
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 12px 0px 12px 0px;

  text-align: center;
  vertical-align: middle;
  z-index: 1;
  color: black;
  background: grey;
  text-shadow: 2px 2px 2px white;  
}

#status.closed {
  background-color: #91ff76;
}

#status.open {
  background-color: #fffd76;
}

#status.error {
  background-color: #ff6044;
}

status.error {
  background-color: grey;
}

#commandStatus {
  border-radius: 16px;
  width: 32px;
  height: 32px;
  right: 32px;
  top: 16px;
  position: absolute;
  z-index: 2;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  box-shadow: inset 2px;
}

#commandStatus.success {
  background-color: green;
  display: block;
}

#commandStatus.error {
  background-color: red;
  display: block;
}

#commandStatus.hidden {
  display: none;
}

#buttons {
  flex-grow: 1;
  width: 90%;
  height: 90%;
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;  
}

.button {  
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  z-index: 0;
  margin: 20px;
    
	border-radius: 30px;
	border: 3px solid #dcdcdc;
}

.button.toggle {
  background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  box-shadow: 0px 0px 20px 0px #79bbff;		
}

.buttonLabel {
  color: white;
  font-family: sans-serif;
  font-size: 120px;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}

i {
  border-width: 0px 100px 100px 0px;
  border-radius: 30px;
  border-style: double;
  border-color: white;
  display: inline-block;
  padding: 60px;    
}

.up {
    margin-top: 100px;
    transform: rotate(-135deg);
}

.down {
    margin-bottom: 100px;
    transform: rotate(45deg);
}